{#
/**
 * @file reliquat_to_paid.html.twig
 * Default theme implementation to present Reliquat to paid data.
 *
 * This template is used when viewing Reliquat to paid pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_reliquat_to_paid()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('reliquat_to_paid') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
